body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;        
    
    padding: 450px;
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(Imagens/wallpaperflare.com_wallpaper.jpg);
    background-repeat: no-repeat;
}

p{
    color: white;
}
label{
    color: white;

}

form {
    border: 1px solid #333;
}
