
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: rgb(63,67,68);
background: linear-gradient(45deg, rgba(63,67,68,1) 16%, rgba(102,138,172,1) 50%, rgba(63,67,68,1) 88%);
}

.calculator {
    background-color: rgb(87, 87, 157);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(62, 62, 62, 0.1);
    padding: 33px;
    width: 300px;
}

#display {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px; 
    border: 1px solid #ccc;
    border-radius: 4px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    background-color: #f0f0f0;
}

button:hover {
    background-color: #e0e0e0;
}