 *{
 margin: 0; 
 padding: 0;
}
body{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/Estadio.jpg);
}
  
header{
  display: flex;
  justify-content: center;
  color: white;
}

a{
  text-decoration: none;
  color: black;
}

header nav{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh; 
    border: 3px;
}

nav ul{
  display: flex;
  gap: 3vh;
  list-style: none;
}

nav ul a{
  display: flex;
  flex-direction: column;
  align-items: center
  gap: 20px;
}

 