*{
 margin: 0; 
 padding: 0;
}
html{
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

header{
  display: flex;
  justify-content: center;
  background-color: rgb(0, 90, 0);
  color: white;
}

a{
  text-decoration: none;
  color: black;
}

header nav{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh; 
}

nav ul{
  display: flex;
  gap: 3vh;
  list-style: none;
}

nav ul a{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

footer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}