
body {
  font-family: Arial, sans-serif;
  text-align: left ;
  background-repeat: no-repeat;
  background-image: linear-gradient(#fff, #598ac5, #fff);
}

img {
  width: 100px;
  height: 100px;
}

h1, h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.score {
  font-size: 24px;
  margin-bottom: 20px;
}

.footer {
  margin-top: 40px;
}
a{
color: #598ac5;
}
